<div class="siderWrap">
  <span #lArrow
        class="lArrow"
        (click)="activeSider(lArrow)">❮</span>

  <ng-container *ngIf="stopResult; else noData">
    <div class="container listWrap d-flex flex-column">
      <div *ngFor="let stop of stopResult; let i = index">
        <div  class="list-group list-group-flush"
              title="雙擊選取"
              (dblclick)="onClickSideStation(stop)">
          <a class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">
                {{ i + 1 }}. {{ stop.StationName.Zh_tw.replace("_"," ") }}
              </h5>
            </div>
            <p  class="mt-1 mb-2 text-secondary">
              <small>
                Station Name: {{ stop.StationName.En.replace("_"," ") }}
              </small>
            </p>
            <p  class="mb-1"
                [ngClass]="{  'text-success': stop.AvailableRentBikes > 10,
                              'text-danger': stop.AvailableRentBikes <= 10
                            }"
                            >
              可借數量: {{ stop.AvailableRentBikes }}
            </p>
            <p  class="mb-1"
                [ngClass]="{  'text-success': stop.AvailableReturnBikes > 10,
                              'text-danger': stop.AvailableReturnBikes <= 10
                            }"
                            >
              可還數量: {{ stop.AvailableReturnBikes }}
            </p>
            <small>{{ stop.UpdateTime | date: 'yyyy-MM-dd hh:mm:ss' }}</small>
          </a>
        </div>
      </div>
      <div *ngIf="isDesignatedStation"
            class="text-right">
        <a class="card-link pr-3"
            (click)="onClickSideBack(isDesignatedStation)">❮❮ 返回</a>
      </div>
    </div>
  </ng-container>

  <ng-template #noData>
    <div class="d-flex flex-column listWrap justify-content-center align-items-center">
      <h1>
        {{ 'No Data Result.' }}
      </h1>
    </div>
  </ng-template>

</div>
